.flower-game-container {
  position: relative;
  width: 150vh;
  height: 80vh;
  border: 2px solid #ad0556Page;
  border-radius: 12px;
  background-color: #ad0556;
  overflow: hidden;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flower-area {
  position: relative;
  width: 100%;
  height: 100%;
}

.flower {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s;
}

.flower:hover {
  transform: scale(1.5);
}

.continue-button {
    font-size:20px;
    opacity: 2;
    background-color: #ff86c9;
    color: black;
}

.continue-button:hover {
  background-color: #ff1493;
}

.expo {
  font-size: 30px;
}

.counts {
  font-size: 10px;
}
.f-click {
  font-size: 15px;
}